body {
    background-color: rgb(132, 166, 217);
}
.nav {
    list-style-type: none;
    background-color: rgb(150, 187, 224);
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.nav li {
    float: left; 
}
ul.nav li a {
    display: block;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}
ul.nav a:hover {
    background-color: #555;
    color: white;
}


.threats-title-section {
    grid-column: 1 / span 3;
    grid-row: 3;
    padding: 1px 2px;
}
.threats-image1-section {
    grid-column: 1 / span 3;
    grid-row: 2;
}
.conservation-image1-section {
    grid-column: 1 / span 3;
    grid-row: 2;
}
.conservation-title-section {
    grid-column: 1 / span 3;
    grid-row: 3;
    padding: 1px 2px;
}
.threats-main-section {
    grid-column: 2 / span 2;
    grid-row: 4;
}
.threats-sub1-section {
    grid-column: 2 / span 1;
    grid-row: 5;
}
.threats-sub2-section {
    grid-column: 2 / span 1;
    grid-row: 6;
}
.threats-sub3-section {
    grid-column: 3 / span 1;
    grid-row: 6;
}
.threats-sub4-section {
    grid-column: 3 / span 1;
    grid-row: 7;
}
.threats-image2-section {
    grid-column: 3 / span 1;
    grid-row: 5;
}
.threats-image3-section {
    grid-column: 2 / span 1;
    grid-row: 7;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px; 
    padding: 20px;
}


.grid-item {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.image-section img {
    width: 100%; 
    height: auto;
}

nav {
    background-color: #ffffff;
    padding: 10px;
}

ul.nav {
    list-style-type: none;
}

ul.nav li {
    display: inline;
    margin-right: 15px;
}

ul.nav li a {
    color: white;
    text-decoration: none;
}

ul.nav li a:hover {
    text-decoration: underline;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color:  rgb(150, 187, 224);
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.nav {
    grid-column: 1;
    grid-row: 1;
}
 
.grid-container {
   display: grid;
   grid-gap: 10px;
   grid-template-columns: auto auto auto;
}
.grid-item {
   text-align: center;
   padding: 20px;
   background-color: lightblue;
}
.species-image1-section {
    grid-column: 1 / span 1;
    grid-row: 3;
}
